<!-- ism maincontroller srf main m he control krega -->

<div class="main " ng-controller="mainController">
      <!-- yhn s header h  -->
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Foodie</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#!/home">Home</a></li>
                    <li><a href="#!/about">About</a></li>
                    <li><a href="#">Order Online</a></li>
                    <li><a href="#!/">Logout</a></li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- yhn tk header finsh -->
    <div class="ui container">
        <div class="hero">
            <p>Find the best restaurants in town</p>
        </div>
        <div class="search-bar">
            <form>
            <div class="input-wrapper">
              <!-- input m hum kch bhi type krnge vo query m save hojygi fr filter krk degi jo search kra bs -->
              <input type="text" class="form-control" placeholder="Search..." ng-model="query">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
    <div ng-repeat="restaurant in restaurants | filter:query" class="restaurant">
        <div class="rest-wrapper">
            <div class="image">
                <img ng-src="{{restaurant.image}}" height="100" width="100">
            </div>
            <div class="rest-info">
                <div class="rest-category">
                   <small>{{restaurant.category}} </small>
                </div>
                <div class="rest-name">
                <a ng-href="#!/restaurant/{{restaurant.id}}"><strong>{{restaurant.name}}</strong></a>
                </div>
                <div>
                   <strong> {{restaurant.location}}</strong>
                </div>
                <div class="rest-address">
                    {{restaurant.address}}
                </div>
            </div>
        </div>
        <div class="rest-extra">
            <div class="type">
                <div><small>Cuisines:</small></div>
                <div><small>Cost for Two: </small></div>
                <div><small>Hours:</small></div>
            </div>
            <div class="value">
                <div>{{restaurant.cuisines}}</div>
                <!-- after model name and using | we write filter -->
                <div> ₹{{restaurant.cost | number}}</div>
                <div>{{restaurant.hours}}</div>
            </div>
        </div>
        <div class="rating">
            <strong>{{restaurant.vote}}</strong>
        </div>
        <div class="noofvotes">
          <small> {{restaurant.noofvotes}}</small>
        </div>
        <div class="below">
        <button type="button" class="btn btn-primary " data-toggle="button" aria-pressed="false" autocomplete="off">
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                Call
              </button>
              <button type="button" class="btn btn-primary " data-toggle="button" aria-pressed="false" autocomplete="off">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        View Menu
      </button>
      <button type="button" class="btn btn-primary " data-toggle="button" aria-pressed="false" autocomplete="off">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Order Online
      </button>
    </div>

    </div>
    <!-- <div class="map">
    <p>  View Search Result On Map </p>
<img height="150" width="200" src="http://www.thebeaverhouserestaurant.com/_/rsrc/1337528680201/map-and-directions/Beaver%20House%20Restaurant%20Map%20Detail.jpg">
    </div> -->
    <!-- <div class="right">

    </div> -->
    </div>
</div>
